######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

.flattened-pom.xml
**/.flattened-pom\ *.xml

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml

### JRebel ###
rebel.xml

application-my.yaml
/deploy/internal/.env
/deploy/internal/certs/*
!/deploy/internal/certs/README.md
/deploy/internal/secrets/*
!/deploy/internal/secrets/README.md
/backups/
/data/
/output/
/script/rehab/output/*
!/script/rehab/output/.gitkeep

/yudao-ui-app/unpackage/
**/.DS_Store
